<!DOCTYPE html>
<html lang="en">
<%- include ('../global/header') -%>
</head>
<body id="admin-body">
  <%- include ('../global/menu') -%>
  <div id="content" class="container" x-data="settingsComponent()">
    <div class="loading" x-show="loading" x-cloak><i class="fa fa-spinner fa-spin"></i></div>
    <div class="alert alert-dismissible alert-fixed fade show"
         :class="message ? message.type : ''"
         x-show="!!message" x-cloak>
      <button type="button" class="btn-close" @click="message = null" aria-label="Close"></button>
      <strong x-text="message ? message.text : ''"></strong>
    </div>
    <div class="row" style="padding-top: 11px;"></div>
    <div class="row" style="padding-top: 10px">
      <div class="col-12">
        <h4 style="padding-left: 15px;"><a href="/admin/">Admin</a> / Settings</h4>
        <hr />
        <form @submit.prevent="settingsSubmit()" style="padding-bottom: 70px;">

          <h5>Global</h5>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Log level</label>
            <div class="col-8 col-sm-9">
              <select x-model="settings.global.loglevel" class="form-select">
                <option value="debug">Debug</option>
                <option value="info">Info</option>
                <option value="warn">Warning</option>
              </select>
              <div class="form-text">Sets the level of information available in log files.</div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Theme</label>
            <div class="col-8 col-sm-9">
              <select x-model="settings.global.theme" class="form-select">
                <template x-for="theme in themes" :key="theme">
                  <option :value="theme" x-text="theme" :selected="settings.global && settings.global.theme === theme"></option>
                </template>
              </select>
              <div class="form-text">Choose an installed theme. Note: An application restart is required.</div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Font Awesome Kit ID</label>
            <div class="col-8 col-sm-9">
              <input class="form-control" type="text" x-model="settings.global.faKey">
              <div class="form-text">Set the Font Awesome SVG and JS Kit ID - See <a href="https://fontawesome.com/start" target="_blank">https://fontawesome.com/start</a><br>
                This should be a v5 kit, with SVG as the technology. Note: An application restart is required.</div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Session Secret</label>
            <div class="col-8 col-sm-9">
              <div class="input-group">
                <input class="form-control" type="text" x-model="settings.global.sessionSecret" required readonly>
                <button class="btn btn-secondary" @click="generateKey('sessionSecret')" type="button">Generate</button>
              </div>
              <div class="form-text">Secret key for cookie sessions, should be changed before deploying the application. Changing this will invalidate existing sessions.</div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Homepage Search Bar Location</label>
            <div class="col-8 col-sm-9">
              <select x-model="settings.global.searchLocation" class="form-select">
                <option value="top">Top</option>
                <option value="bottom">Bottom</option>
              </select>
              <div class="form-text">Sets the location of the Search Bar.</div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Monitor Name</label>
            <div class="col-8 col-sm-9">
              <input class="form-control" type="text" x-model="settings.global.monitorName">
              <div class="form-text">Set the title of your PagerMon website</div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Enable One Time Modal</label>
            <div class="col-8 col-sm-9">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="frontPopupEnable" x-model="settings.global.frontPopupEnable">
                <label class="form-check-label" for="frontPopupEnable">Enable showing a modal to new visitors. This can be used for showing a disclaimer or Site/Contact information.</label>
              </div>
            </div>
          </div>
            <div class="row mb-3" x-show="settings.global && settings.global.frontPopupEnable">
            <label class="col-4 col-sm-3 form-label col-form-label">Modal Title</label>
            <div class="col-8 col-sm-9">
              <input class="form-control" type="text" x-model="settings.global.frontPopupTitle" :required="settings.global && settings.global.frontPopupEnable">
              <div class="form-text">
Modal Title</span>
            </div>
          </div>
            <div class="row mb-3" x-show="settings.global && settings.global.frontPopupEnable">
            <label class="col-4 col-sm-3 form-label col-form-label">Modal Content</label>
            <div class="col-8 col-sm-9">
              <textarea class="form-control" rows="6" x-model="settings.global.frontPopupContent" :required="settings.global && settings.global.frontPopupEnable"></textarea>
              <div class="form-text">
Modal Content</span>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Refresh Specific Alias</label>
            <div class="col-8 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" x-model="settings.global.SpecificAliasRefresh">
                  Refresh all messages for a specific Alias, when the Alias is saved.
                  <div class="form-text">
This mitigates the need for an Alias Refresh every time an alias is saved, but does not effect <strong>_</strong> wildcard alias.</span>
                </label>
              </div>
            </div>
          </div>

          <h5>Database</h5><span class="text-warning">These settings require restart to take effect.</span>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Type</label>
            <div class="col-8 col-sm-9">
              <select x-model="settings.database.type" class="form-select" required>
                <option value="sqlite3">SQLite</option>
                <option value="mysql2">MySQL / MariaDB</option>
                <option value="oracledb">Oracle DB</option>
              </select>
            </div>
          </div>
          <div class="form-group" x-show="settings.database && settings.database.type == 'sqlite3'">
            <label class="col-4 col-sm-3 form-label col-form-label">Path to Database File</label>
            <div class="col-8 col-sm-9">
              <input type="text" class="form-control" x-model="settings.database.file" :required="settings.database && settings.database.type == 'sqlite3'">
              <div class="form-text">
Configure the path to the SQLite Database</span>
            </div>
          </div>
          <div class="form-group" x-show="settings.database && settings.database.type == 'oracledb'">
            <label class="col-4 col-sm-3 form-label col-form-label">Database Connection String</label>
            <div class="col-8 col-sm-9">
              <input type="text" class="form-control" x-model="settings.database.connectString" :required="settings.database && settings.database.type == 'oracledb'">
              <div class="form-text">
Oracle connection string</span>
            </div>
          </div>
          <div class="form-group" x-show="settings.database && (settings.database.type == 'pg' || settings.database.type == 'mysql' || settings.database.type == 'mysql2' || settings.database.type == 'mssql')">
            <label class="col-4 col-sm-3 form-label col-form-label">Database Server</label>
            <div class="col-8 col-sm-9">
              <input type="text" class="form-control" x-model="settings.database.server">
              <div class="form-text">
Database Server Address</span>
            </div>
          </div>
          <div class="form-group" x-show="settings.database && (settings.database.type == 'pg' || settings.database.type == 'mysql' || settings.database.type == 'mysql2' || settings.database.type == 'mssql')">
            <label class="col-4 col-sm-3 form-label col-form-label">Database Port</label>
            <div class="col-8 col-sm-9">
              <input type="text" class="form-control" x-model="settings.database.port">
              <div class="form-text">
Database Server Port (default is 3306)</span>
            </div>
          </div>
          <div class="form-group" x-show="settings.database && (settings.database.type == 'pg' || settings.database.type == 'mysql' || settings.database.type == 'mysql2' || settings.database.type == 'mssql')">
            <label class="col-4 col-sm-3 form-label col-form-label">Database Name</label>
            <div class="col-8 col-sm-9">
              <input type="text" class="form-control" x-model="settings.database.database">
              <div class="form-text">
Name of the database.</span>
            </div>
          </div>
          <div class="form-group" x-show="settings.database && (settings.database.type == 'pg' || settings.database.type == 'mysql' || settings.database.type == 'mysql2' || settings.database.type == 'mssql' || settings.database.type == 'oracledb')">
            <label class="col-4 col-sm-3 form-label col-form-label">Database Username</label>
            <div class="col-8 col-sm-9">
              <input type="text" class="form-control" x-model="settings.database.username">
              <div class="form-text">
Database Username</span>
            </div>
          </div>
          <div class="form-group" x-show="settings.database && (settings.database.type == 'pg' || settings.database.type == 'mysql' || settings.database.type == 'mysql2' || settings.database.type == 'mssql' || settings.database.type == 'oracledb')">
            <label class="col-4 col-sm-3 form-label col-form-label">Database Password</label>
            <div class="col-8 col-sm-9">
              <div class="input-group">
                <input :type="showPassword ? 'text' : 'password'" class="form-control" x-model="settings.database.password">
                <span class="input-group-text">
                  <div @click="showPassword = !showPassword" :class="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'" style="cursor: pointer; pointer-events: all;"></div>
                </span>
              </div>
              <div class="form-text">
Database Password</span>
            </div>
          </div>
          <div class="form-group" x-show="settings.database && (settings.database.type == 'mysql' || settings.database.type == 'mysql2')">
            <label class="col-4 col-sm-3 form-label col-form-label">Alias Refresh CRON</label>
            <div class="col-8 col-sm-9">
              <input type="text" class="form-control" x-model="settings.database.aliasRefreshInterval">
              <div class="form-text">
<strong>Advanced Users</strong> - The cron timing for Automatic Alias Refresh. See <a href="https://www.npmjs.com/package/node-cron#cron-syntax" target="_blank">Cron Syntax</a>.<br />Default = "0 5,35 * * * *" (The 5th and 35th minute of every hour)</span>
            </div>
          </div>

          <h5>Message Rotation</h5>
          <div class="row mb-3">
            <div class="col-8 offset-2 col-sm-9 offset-sm-3">
              <div class="checkbox">
                <label>
                  <input type="checkbox" x-model="settings.messages.rotationEnabled"> Rotate out old messages
                </label>
                <div class="form-text">
Automatically delete messages older than the configured number of days. Runs daily at 01:00.</span>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Rotation interval (days)</label>
            <div class="col-8 col-sm-9">
              <input type="number" class="form-control" x-model.number="settings.messages.rotateDays" :disabled="!settings.messages.rotationEnabled" min="1">
              <div class="form-text">
Delete messages older than <span x-text="settings.messages.rotateDays"></span> days.</span>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Minimum messages to keep</label>
            <div class="col-8 col-sm-9">
              <input type="number" class="form-control" x-model.number="settings.messages.rotateKeep" :disabled="!settings.messages.rotationEnabled" min="0">
              <div class="form-text">
Always keep at least <span x-text="settings.messages.rotateKeep"></span> of the most recent messages, even if they are older than the rotation interval. Set to 0 to disable.</span>
            </div>
          </div>

          <h5>SQLite VACUUM</h5>
          <div class="row mb-3">
            <div class="col-8 offset-2 col-sm-9 offset-sm-3">
              <div class="checkbox">
                <label>
                  <input type="checkbox" x-model="settings.messages.vacuumEnabled"> Enable periodic VACUUM
                </label>
                <div class="form-text">
Compacts the database by reclaiming unused space. Only applies to SQLite. Runs during the nightly rotation.</span>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">VACUUM interval (days)</label>
            <div class="col-8 col-sm-9">
              <input type="number" class="form-control" x-model.number="settings.messages.vacuumDays" :disabled="!settings.messages.vacuumEnabled" min="1">
              <div class="form-text">
Run VACUUM at most once every <span x-text="settings.messages.vacuumDays"></span> days.</span>
            </div>
          </div>

          <h5>Messages</h5>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Max limit per page</label>
            <div class="col-8 col-sm-9">
              <input type="number" class="form-control" x-model.number="settings.messages.maxLimit">
              <div class="form-text">
The maximum number of messages a user can display per page.</span>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Default limit per page</label>
            <div class="col-8 col-sm-9">
              <input type="number" class="form-control" x-model.number="settings.messages.defaultLimit">
              <div class="form-text">
Default number of messages to show per page.</span>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Icon Size</label>
            <div class="col-8 col-sm-9">
              <select x-model="settings.messages.iconsize" class="form-select">
                <option value="small">Small</option>
                <option value="normal">Normal</option>
              </select>
              <div class="form-text">
Set the size of the icons on the message list.</span>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Duplicate filtering</label>
            <div class="col-8 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" x-model="settings.messages.duplicateFiltering"> Filter out duplicate messages
                </label>
                <div class="form-text">
Limit filtering in one or both of the below fields.</span>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Duplicate message limit</label>
            <div class="col-8 col-sm-9">
              <input type="number" class="form-control" x-model.number="settings.messages.duplicateLimit" :disabled="!settings.messages.duplicateFiltering">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Duplicate time limit</label>
            <div class="col-8 col-sm-9">
              <input type="number" class="form-control" x-model.number="settings.messages.duplicateTime" :disabled="!settings.messages.duplicateFiltering">
              <div class="form-text">
Ignore a message if one of the last <span x-text="settings.messages.duplicateLimit"></span> messages in the past <span x-text="settings.messages.duplicateTime"></span> seconds contains the same address and content.
                <br />Set to 0 or blank to not limit the duplicate check query. This can impact database performance if both this and the above field are blank.</span>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">PDW mode</label>
            <div class="col-8 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" x-model="settings.messages.pdwMode">
                  Hide any messages that don't have a matching alias.
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">PDW Mode - Admin Disable</label>
            <div class="col-8 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" x-model="settings.messages.adminShow" :disabled="!settings.messages.pdwMode">
                  When PDW Mode is enabled, use this option to show all messages to logged in users only.
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Hide Capcodes</label>
            <div class="col-8 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" x-model="settings.messages.HideCapcode">
                  Hide Capcodes for non-logged in users.
                  <br><strong>Note: You must restart the application after making this change.</strong>
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Hide Source</label>
            <div class="col-8 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" x-model="settings.messages.HideSource">
                  Hide Source field for non-logged in users. Note: Does not secure source data at the API level, only hides it.
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Enable Secure Mode</label>
            <div class="col-8 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" x-model="settings.messages.apiSecurity">
                  Secures all APIs and WebInterface from being accessed unless logged in.
                  <p><strong>Note: You must restart the application after making this change.</strong></p>
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <label class="col-4 col-sm-3 form-label col-form-label">Text/Regex Matching</label>
            <div class="col-8 col-sm-9">
              <div class="form-text">
Highlights, Labels, or Replaces text/regex match.<br />
                In <strong>Label</strong> mode, the text is not highlighted, but tooltips are visible when hovering over matched text (if a label is present).<br />
                In <strong>Highlight</strong> mode, the text is highlighted, and tooltips are visible when hovering over matched text (if a label is present).<br />
                In <strong>Replace</strong> Mode, the replacement can be text, or a regex replacement consisting of groups (eg: &lt;a href="?q=$1"&gt;$2&lt;/a&gt;)<br />
                <strong>Note: Reordering rows may help when you have many complex regex replacements.</strong></span>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-11 offset-sm-1">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th width="1%"></th>
                    <th width="44%">Text/Regex Match</th>
                    <th width="10%">Mode</th>
                    <th width="44%">Label/Regex Replace</th>
                    <th width="1%"></th>
                  </tr>
                </thead>
                <tbody id="replaceTextTable">
                  <template x-for="(text, idx) in settings.messages.replaceText" :key="text._id || idx">
                    <tr>
                      <td style="text-align: center; vertical-align: middle;">
                        <input type="checkbox" x-model="text.selected"/></td>
                      <td>
                        <input type="text" class="form-control" placeholder="Text/Regex Match" x-model="text.match" required></td>
                      <td style="text-align: center; vertical-align: middle;">
                        <select class="form-select" x-model="text.highlight">
                          <option value="">Label</option>
                          <option value="true">Highlight</option>
                          <option value="replace">Replace</option>
                        </select>
                      </td>
                      <td>
                        <input type="text" class="form-control" placeholder="Label/Regex Replacement" x-model="text.replace"></td>
                      <td style="font-size: 13pt; cursor: move; text-align: center; vertical-align: middle;" title="Drag to reorder" class="drag-handle">
                        <i class="fas fa-bars"></i></td>
                    </tr>
                  </template>
                  <tr>
                    <td style="text-align: left;">
                      <input :disabled="!matchSelected()" type="button" class="btn btn-sm btn-danger" @click="removeMatch()" value="&times;">
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <input type="button" class="btn btn-success btn-sm addnew float-end" @click="addMatch()" value="&plus;">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <label class="col-4 col-sm-3 form-label col-form-label">Alias Templates</label>
            <div class="col-8 col-sm-9">
              <div class="form-text">
Templates Available when editing/creating an Alias. Use these to speed up alias creation. Filter checkbox automatically checks the "Filter Alias" setting for the Alias</span>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-11 offset-sm-1">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th width="1%"></th>
                    <th width="25%">Name</th>
                    <th width="25%">Agency</th>
                    <th width="25%">Icon</th>
                    <th width="23%">Color</th>
                    <th width="1%">Filter</th>
                  </tr>
                </thead>
                <tbody>
                  <template x-for="(template, idx) in settings.aliases.templates" :key="template._id || idx">
                    <tr>
                      <td style="text-align: center; vertical-align: middle;">
                        <input type="checkbox" x-model="template.selected"/></td>
                      <td>
                        <input type="text" class="form-control" placeholder="Template Name" x-model="template.name"></td>
                      <td>
                        <input type="text" class="form-control" placeholder="Template Agency" x-model="template.agency"></td>
                      <td>
                        <input type="text" class="form-control" placeholder="Template Icon" x-model="template.icon"></td>
                      <td>
                        <input type="text" class="form-control" placeholder="Template Color" x-model="template.color"></td>
                      <td style="text-align: center; vertical-align: middle;">
                        <input type="checkbox" x-model="template.filter"/></td>
                    </tr>
                  </template>
                  <tr>
                    <td style="text-align: left;">
                      <input :disabled="!templateSelected()" type="button" class="btn btn-sm btn-danger" @click="removeTemplate()" value="&times;">
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <input type="button" class="btn btn-success btn-sm addnew float-end" @click="addTemplate()" value="&plus;">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <h5>Auth</h5>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Registration</label>
            <div class="col-8 col-sm-9">
              <label>
                <input type="checkbox" x-model="settings.auth.registration">
                Enables user registration. Allows users to register an account.
                <p><strong>Note: You must restart the application after making this change.</strong></p>
              </label>
            </div>
          </div>
          <div class="row">
            <label class="col-4 col-sm-3 form-label col-form-label">API Keys</label>
          </div>
          <div class="row mb-3">
            <div class="col-sm-11 offset-sm-1">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th width="1%"></th>
                    <th width="25%">Name</th>
                    <th width="99%">Key</th>
                    <th width="1%"></th>
                  </tr>
                </thead>
                <tbody>
                  <template x-for="(key, idx) in settings.auth.keys" :key="key.key || idx">
                    <tr>
                      <td style="text-align: center; vertical-align: middle;">
                        <input type="checkbox" x-model="key.selected"/></td>
                      <td>
                        <input type="text" class="form-control" placeholder="Name" x-model="key.name" :required="!!key.key"></td>
                      <td :colspan="key.key ? '2' : '1'">
                        <input type="text" class="form-control" placeholder="Key" x-model="key.key" readonly></td>
                      <td x-show="!key.key">
                        <button class="btn btn-secondary" @click="generateKey(idx)" type="button">Generate</button>
                      </td>
                    </tr>
                  </template>
                  <tr>
                    <td style="text-align: left;">
                      <input :disabled="!keySelected()" type="button" class="btn btn-sm btn-danger" @click="removeKey()" value="&times;">
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                      <input type="button" class="btn btn-success btn-sm addnew float-end" @click="addKey()" value="&plus;">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <h5>Monitoring</h5>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Azure Application Insights</label>
            <div class="col-8 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" x-model="settings.monitoring.azureEnable"> Enable Azure Application Insights Monitoring
                </label>
              </div>
            </div>
          </div>
          <div class="form-group" x-show="settings.monitoring && settings.monitoring.azureEnable">
            <label class="col-4 col-sm-3 form-label col-form-label">Azure Application Insights Key</label>
            <div class="col-8 col-sm-9">
              <input class="form-control" type="text" x-model="settings.monitoring.azureKey" :required="settings.monitoring && settings.monitoring.azureEnable">
              <div class="form-text">
Azure Application Insights Key. See <a href="https://docs.microsoft.com/en-us/azure/azure-monitor/learn/nodejs-quick-start#configure-app-insights-sdk">Documentation</a></span>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-4 col-sm-3 form-label col-form-label">Google Analytics</label>
            <div class="col-8 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" x-model="settings.monitoring.gaEnable"> Enable Google Analytics
                </label>
              </div>
            </div>
          </div>
          <div class="form-group" x-show="settings.monitoring && settings.monitoring.gaEnable">
            <label class="col-4 col-sm-3 form-label col-form-label">Tracking ID</label>
            <div class="col-8 col-sm-9">
              <input class="form-control" type="text" x-model="settings.monitoring.gaTrackingCode" :required="settings.monitoring && settings.monitoring.gaEnable">
              <div class="form-text">
Tracking ID. See <a href="https://support.google.com/analytics/answer/1008080?hl=en">Documentation</a></span>
            </div>
          </div>

          <h4>Plugins</h4>
          <template x-for="plugin in plugins" :key="plugin.name">
            <div class="plugin-group">
              <hr />
              <div class="row">
                <div class="col-12 col-sm-6"><h5 x-text="plugin.name"></h5><p><em x-html="plugin.description"></em></p></div>
              </div>
              <div class="row mb-3">
                <label class="col-4 col-sm-3 form-label col-form-label">Enable</label>
                <div class="col-8 col-sm-9">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" :checked="settings.plugins && settings.plugins[plugin.name] && settings.plugins[plugin.name].enable" @change="if(!settings.plugins) settings.plugins = {}; if(!settings.plugins[plugin.name]) settings.plugins[plugin.name] = {}; settings.plugins[plugin.name].enable = $event.target.checked">
                      Enable the <span x-text="plugin.name"></span> plugin
                    </label>
                  </div>
                </div>
              </div>
              <template x-for="configItem in plugin.config" :key="configItem.name">
                <div class="form-group" x-show="settings.plugins && settings.plugins[plugin.name] && settings.plugins[plugin.name].enable">
                  <label class="col-4 col-sm-3 form-label col-form-label" x-text="configItem.label"></label>
                  <div class="col-8 col-sm-9">
                    <div x-show="configItem.type == 'checkbox'" class="checkbox">
                      <label>
                        <input type="checkbox" :checked="settings.plugins && settings.plugins[plugin.name] && settings.plugins[plugin.name][configItem.name]" @change="if(settings.plugins && settings.plugins[plugin.name]) settings.plugins[plugin.name][configItem.name] = $event.target.checked">
                        <span x-text="configItem.description"></span>
                      </label>
                    </div>
                    <div x-show="configItem.type == 'select'">
                      <select class="form-select"
                        :required="configItem.type === 'select' && settings.plugins && settings.plugins[plugin.name] && settings.plugins[plugin.name].enable && configItem.required"
                        :disabled="configItem.type !== 'select' || !(settings.plugins && settings.plugins[plugin.name] && settings.plugins[plugin.name].enable)"
                        @change="if(settings.plugins && settings.plugins[plugin.name]) settings.plugins[plugin.name][configItem.name] = $event.target.value">
                        <template x-for="opt in configItem.options" :key="opt.value">
                          <option :value="opt.value" :selected="settings.plugins && settings.plugins[plugin.name] && settings.plugins[plugin.name][configItem.name] === opt.value" x-text="opt.text"></option>
                        </template>
                      </select>
                      <span class="form-text" x-text="configItem.description"></span>
                    </div>
                    <div x-show="configItem.type != 'checkbox' && configItem.type != 'select'">
                      <input :type="configItem.type" class="form-control" :value="settings.plugins && settings.plugins[plugin.name] ? settings.plugins[plugin.name][configItem.name] : ''" @input="if(settings.plugins && settings.plugins[plugin.name]) settings.plugins[plugin.name][configItem.name] = $event.target.value" :required="configItem.type !== 'checkbox' && configItem.type !== 'select' && settings.plugins && settings.plugins[plugin.name] && settings.plugins[plugin.name].enable && configItem.required" :disabled="configItem.type === 'checkbox' || configItem.type === 'select' || !(settings.plugins && settings.plugins[plugin.name] && settings.plugins[plugin.name].enable)">
                      <span class="form-text" x-text="configItem.description"></span>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </template>

          <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script defer src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
  <script defer src="/javascripts/admin/admin.js?v=6"></script>
  <%- include ('../global/footer') -%>
</body>
</html>
