<!DOCTYPE html>
<html lang="en">
<%- include ('../global/header') -%>
</head>
<body id="admin-body">
  <%- include ('../global/menu') -%>
  <div id="content" class="container" x-data="resetComponent()">
    <div class="loading" x-show="loading" x-cloak><i class="fa fa-spinner fa-spin"></i></div>
    <div class="alert alert-dismissible alert-fixed fade show"
         :class="message ? message.type : ''"
         x-show="!!message"
         x-cloak>
      <button type="button" class="btn-close" @click="message = null" aria-label="Close"></button>
      <strong x-text="message ? message.text : ''"></strong>
    </div>
    <div class="row" style="padding-top: 10px">
      <div class="col-12">
        <h4 style="padding-left: 15px;">Reset Password</h4>
        <hr />
        <div class="col-12 offset-md-2 col-md-8">
          <form @submit.prevent="resetSubmit()">
            <div class="mb-3">
              <label for="new-password" class="form-label">Password:</label>
              <input type="password" class="form-control" id="new-password" x-model="password" autofocus required>
            </div>
            <div class="mb-3">
              <label for="confirm-password" class="form-label">Confirm Password:</label>
              <input type="password" class="form-control" id="confirm-password" x-model="confirmPassword" required>
              <span class="text-danger" x-show="confirmPassword && !passwordsMatch" x-cloak>Passwords do not match!</span>
            </div>
            <button type="submit" class="btn btn-primary" :disabled="!passwordsMatch || loading">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script defer src="/javascripts/auth.js?v=2"></script>
  <%- include ('../global/footer') -%>
</body>
</html>
